# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environments for Data Science
- Execute simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Plotly
3. ggplot
4. Pandas
5. Vegas

| Data Science Tools |
| ----|
| Jupyter |
| R-Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes tohours by diving by 60.
200/60

3.3333333333333335

## Author
Hasan Roshan